<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseVersion</key>
	<string>1.0</string>
	<key>DiffPackType</key>
	<string>UserEdit</string>
	<key>DocumentType</key>
	<string>PlaygroundBook</string>
	<key>Name</key>
	<string>com.tonytangzixuan.playgroundbook.sixFeetBetween</string>
	<key>UpdateVersion</key>
	<string>1.0</string>
	<key>Updates</key>
	<dict>
		<key>Added</key>
		<array>
			<dict>
				<key>File</key>
				<string>Chapters/6FeetBetween.playgroundchapter/UserManifest.plist</string>
			</dict>
		</array>
		<key>Modified</key>
		<array>
			<dict>
				<key>Diff</key>
				<string>UserModules/GameFoundationModule.playgroundmodule/Sources/AnimationPresets.swift.delta</string>
				<key>File</key>
				<string>UserModules/GameFoundationModule.playgroundmodule/Sources/AnimationPresets.swift</string>
			</dict>
			<dict>
				<key>Diff</key>
				<string>UserModules/GameFoundationModule.playgroundmodule/Sources/BackgroundView.swift.delta</string>
				<key>File</key>
				<string>UserModules/GameFoundationModule.playgroundmodule/Sources/BackgroundView.swift</string>
			</dict>
			<dict>
				<key>Diff</key>
				<string>UserModules/GameFoundationModule.playgroundmodule/Sources/BriefLogisticExplanationView.swift.delta</string>
				<key>File</key>
				<string>UserModules/GameFoundationModule.playgroundmodule/Sources/BriefLogisticExplanationView.swift</string>
			</dict>
			<dict>
				<key>Diff</key>
				<string>UserModules/GameFoundationModule.playgroundmodule/Sources/ButtonStackView.swift.delta</string>
				<key>File</key>
				<string>UserModules/GameFoundationModule.playgroundmodule/Sources/ButtonStackView.swift</string>
			</dict>
			<dict>
				<key>Diff</key>
				<string>UserModules/GameFoundationModule.playgroundmodule/Sources/Calculation.swift.delta</string>
				<key>File</key>
				<string>UserModules/GameFoundationModule.playgroundmodule/Sources/Calculation.swift</string>
			</dict>
			<dict>
				<key>Diff</key>
				<string>UserModules/GameFoundationModule.playgroundmodule/Sources/ContentView.swift.delta</string>
				<key>File</key>
				<string>UserModules/GameFoundationModule.playgroundmodule/Sources/ContentView.swift</string>
			</dict>
			<dict>
				<key>Diff</key>
				<string>UserModules/GameFoundationModule.playgroundmodule/Sources/GameFailureView.swift.delta</string>
				<key>File</key>
				<string>UserModules/GameFoundationModule.playgroundmodule/Sources/GameFailureView.swift</string>
			</dict>
			<dict>
				<key>Diff</key>
				<string>UserModules/GameFoundationModule.playgroundmodule/Sources/DataModel.swift.delta</string>
				<key>File</key>
				<string>UserModules/GameFoundationModule.playgroundmodule/Sources/DataModel.swift</string>
			</dict>
			<dict>
				<key>Diff</key>
				<string>UserModules/GameFoundationModule.playgroundmodule/Sources/GameLogistics.swift.delta</string>
				<key>File</key>
				<string>UserModules/GameFoundationModule.playgroundmodule/Sources/GameLogistics.swift</string>
			</dict>
			<dict>
				<key>Diff</key>
				<string>UserModules/GameFoundationModule.playgroundmodule/Sources/GameSuccessView.swift.delta</string>
				<key>File</key>
				<string>UserModules/GameFoundationModule.playgroundmodule/Sources/GameSuccessView.swift</string>
			</dict>
			<dict>
				<key>Diff</key>
				<string>UserModules/GameFoundationModule.playgroundmodule/Sources/IconView.swift.delta</string>
				<key>File</key>
				<string>UserModules/GameFoundationModule.playgroundmodule/Sources/IconView.swift</string>
			</dict>
			<dict>
				<key>Diff</key>
				<string>UserModules/GameFoundationModule.playgroundmodule/Sources/MediaSupport.swift.delta</string>
				<key>File</key>
				<string>UserModules/GameFoundationModule.playgroundmodule/Sources/MediaSupport.swift</string>
			</dict>
			<dict>
				<key>Diff</key>
				<string>UserModules/GameFoundationModule.playgroundmodule/Sources/InternalTutorialPartialView.swift.delta</string>
				<key>File</key>
				<string>UserModules/GameFoundationModule.playgroundmodule/Sources/InternalTutorialPartialView.swift</string>
			</dict>
			<dict>
				<key>Diff</key>
				<string>UserModules/GameFoundationModule.playgroundmodule/Sources/NPCUI.swift.delta</string>
				<key>File</key>
				<string>UserModules/GameFoundationModule.playgroundmodule/Sources/NPCUI.swift</string>
			</dict>
			<dict>
				<key>Diff</key>
				<string>UserModules/GameFoundationModule.playgroundmodule/Sources/StoryTextIntroView.swift.delta</string>
				<key>File</key>
				<string>UserModules/GameFoundationModule.playgroundmodule/Sources/StoryTextIntroView.swift</string>
			</dict>
			<dict>
				<key>Diff</key>
				<string>UserModules/GameFoundationModule.playgroundmodule/Sources/StoryView.swift.delta</string>
				<key>File</key>
				<string>UserModules/GameFoundationModule.playgroundmodule/Sources/StoryView.swift</string>
			</dict>
			<dict>
				<key>Diff</key>
				<string>UserModules/GameFoundationModule.playgroundmodule/Sources/TutorialView.swift.delta</string>
				<key>File</key>
				<string>UserModules/GameFoundationModule.playgroundmodule/Sources/TutorialView.swift</string>
			</dict>
			<dict>
				<key>Diff</key>
				<string>UserModules/GameFoundationModule.playgroundmodule/Sources/PlayerUI.swift.delta</string>
				<key>File</key>
				<string>UserModules/GameFoundationModule.playgroundmodule/Sources/PlayerUI.swift</string>
			</dict>
		</array>
		<key>Removed</key>
		<array/>
		<key>Replaced</key>
		<array/>
	</dict>
</dict>
</plist>
